html {
  text-align: center;
  
}

body {
  background-image: linear-gradient(rgb(228, 232, 240), rgb(53, 56, 61));
}

header {

  background-color: rgb(149, 173, 173);

  border-radius: 15px;
 
  margin-right: 500px;
  margin-left: 500px;
  margin-bottom: 10px;
  padding-bottom: .01px;

}

.slate {

  padding-top: 20px;
  padding-bottom: 5px;

  background-color: rgb(149, 173, 173);

  margin-right: 400px;
  margin-left: 400px;

  border-radius: 15px;
}

.audition {
  padding-top: 20px;

  background-color: rgb(149, 173, 173);

  margin-right: 400px;
  margin-left: 400px;

  border-radius: 15px;

}

.theatrical_resume{

  background-color: rgb(149, 173, 173);

  padding-top: 1px;
  margin-top: 30px;

  margin-bottom: 30px;
  padding-bottom: 20px;

  margin-right: 650px;
  margin-left: 650px;

  border-radius: 20px;

}

.headshot{

  background-color: rgb(149, 173, 173);

  margin-right: 600px;
  margin-left: 600px;

  padding-top: 5px;
  margin-top: 10px;

  margin-bottom: 30px;
  padding-bottom: 20px;

  border-radius: 20px;

}
